{% extends "base.html" %}

{% block content %}
  <form>
    <table>
      {{ form }}
    </table>
    <input type="submit" value="Submit">
  </form>
  <h2>Привет, {{ request.GET.first_name }} {{ request.GET.last_name }}</h2>
  <!-- Присваиваем переменной data объект request.GET -->
  {% with data=request.GET %}
    <!-- В дальнейшем используем имя data вместо request.GET -->
    {% if form.is_valid %}
      <h2>Привет, {{ data.first_name }} {{ data.last_name }}</h2>
    {% endif %}
  <!-- Когда заканчивается область шаблона, где нужна переменная, 
    закрываем тег with -->
  {% endwith %}
{% endblock %} 